page-about {

    .card-background-page {

        background-image: url('../../assets/imgs/clouds-countryside-daylight-51947\ \(1\).jpg');
        background-size: cover;
        background-position-x: right;
        background-position-y: bottom;
        height: 70%;
    
        ion-card {
          position: relative;
          text-align: center;
          opacity: .7;
          padding: 20px;
          background-color: rgb(32, 32, 32);
          color: rgb(255, 255, 255);
          margin-top: 0%;
    
          .card-title {
              font-size: 3em;
              font-family: 'Seaweed Script', cursive;
             
          }
          .card-subtitle {
              font-size: 1.25em;
              font-family: 'Montserrat', sans-serif;
          }
        }
      }


    .discover-card {
        text-align: left;
        font-family: 'Lato', sans-serif;

        ion-card-header{
          font-size: 2em;
        }


      }
}
