@import url('https://fonts.googleapis.com/css?family=M+PLUS+1p|Montserrat|Seaweed+Script');

// font-family: 'Seaweed Script', cursive;
// font-family: 'M PLUS 1p', sans-serif;
// font-family: 'Montserrat', sans-serif;

page-list {

    .card-background-page {

        background-image: url('../../assets/imgs/IMG_0616.JPG');
        background-size: cover;
        height: 50%;

        ion-card {
          position: relative;
          text-align: center;
          opacity: .7;
          padding: 12px;
          background-color: black;
          color: rgb(255, 255, 255);
          margin-top: 50%;

          .card-title {
              font-size: 3em;
              font-family: 'Seaweed Script', cursive;
             
          }
          .card-subtitle {
              font-size: 1.25em;
              font-family: 'Montserrat', sans-serif;
          }
        }
      
    }

    .home-banner {
        padding: 0;
        margin: 0 0 3% 0;
        width: 100%;
        height: auto;
      }

    .item-note {
        color: rgb(165, 165, 165);
    }

      .youtube-embed {
        margin-top: 5%;
        border-bottom: 2px lightgrey solid;
      }

      .hide-me {
         height: 0px;
         background-color: black;
      }
}
