page-list {

    .item-note {
        color: rgb(165, 165, 165);
    }

    #sermon-header {
        width: 100%;
        height: auto;
    }
    .sermon-desc {
        font-size: 1.30em;
        text-align: center;
        margin-top: 15px;
      
        border-bottom: rgb(75, 75, 75) 2px solid;
    }

    .sermon-banner {
        padding: 0;
        margin: 0 0 3% 0;
        width: 100%;
        height: auto;
      }

      .youtube-embed {
        margin-top: 5%;
        border-bottom: 2px lightgrey solid;
      }
}
