
@import url('https://fonts.googleapis.com/css?family=Lato:300|Open+Sans:300|Source+Sans+Pro:300');


// font-family: 'Lato', sans-serif;
// font-family: 'Source Sans Pro', sans-serif;
// font-family: 'Open Sans', sans-serif;

page-home {

  ion-icon {
    font-size: 50px; //Preferred size here
  }

  .card-background-page {

    background-image: url('../../assets/imgs/clouds-countryside-daylight-51947.jpg');
    background-size: cover;
    background-position-x: right;
    background-position-y: bottom;
    height: 50%;

    ion-card {
      position: relative;
      text-align: center;
      opacity: .7;
      padding: 20px;
      background-color: rgb(32, 32, 32);
      color: rgb(255, 255, 255);
      margin-top: 0%;

      .card-title {
          font-size: 3em;
          font-family: 'Seaweed Script', cursive;
         
      }
      .card-subtitle {
          font-size: 1.25em;
          font-family: 'Montserrat', sans-serif;
      }
    }
  }
    

      .discover-card {
        text-align: left;
        font-family: 'Lato', sans-serif;

        ion-card-header{
          font-size: 2em;
        }


      }
}
